<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class="bar-dark"
        data-comp-id="header-bar.1">
        <h1 class="title" data-comp-id="text.1">Report Issue</h1>
    </ion-header-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1">
        <div class=" card" data-comp-id="div.1">
            <label class="item  item-input item-select-icon positive-icon"
                data-comp-id="selectInput.1">
                <span class="input-label">Category</span>
                <select ng-model="data.categorylist.selected"
                    ng-options="item as item.label for item in data.categorylist.options"></select>
            </label>
        </div>
        <div data-comp-id="div.2">
            <label class="item item-input" data-comp-id="textInput.1">
                <span class="input-label">Summary</span>
                <input ng-model="data.summary" type="text">
            </label>
        </div>
        <div data-comp-id="div.3">
            <label class="item item-input item-stacked-label" data-comp-id="textAreaInput.1">
                <span class="input-label">Description</span>
                <textarea ng-model="data.description" rows="4"></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar data-comp-id="footer-bar.1" dynamic-fixed-footer="">
        <button class="button button-block" data-comp-id="button.1"
            ng-click="reportissuefnc()">Submit Report</button>
    </ion-footer-bar>
</ion-view>